.axis path, .axis line{
    fill: none;
    stroke: rgb(60, 60, 60);
    stroke-width: 1.5;
    shape-rendering: crispEdges;
}

.axis text{
    font-size: 12px;
    fill: rgb(90, 90, 90);
}

.grid path, .grid line{
    fill: none;
    stroke: rgb(184, 184, 184);
    shape-rendering: crispEdges;
}